#imageUrlText {
  width: 30em;
  text-align: center;
  margin-left: 10px;
}

#imageUrlText, #loadImageButton {
  padding: 15px;
  font-size: 20px;
}

#imageDiv {
  margin-top:10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 90px; /* for popup to be visible when popup opened on bottom of image*/
}

.annotationTextDiv {
  position: absolute;
  top: 365px;
  left: 227px;
  background-color: #eeecb3;
  padding: 5px;
  margin-top: 2px;
  max-width: 180px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgb(100, 100, 100);
  /* needs to be visible on top of resizalbe handle! */
  z-index: 92;
}

.annotationTextDiv .annotationText {
  font-weight: bold;
  font-size: 14px;
  /* wrap text even if no spaces */
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
  float:left;
}

.annotationCreatorAvatar {
  float: right;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  text-align: center;
  font-size: 13px;
  line-height: 25px;
  font-weight: bold;
  color: #728AA0;
}

/* second canvas needs to be on top of text divs...*/
canvas.annotorious-opacity-fade ~ canvas.annotorious-opacity-fade {
  z-index:1!important;
}

.ui-resizable-handle {
  /* resizable handle with rizzoma color!:)*/
  background-color: #64a8eb;
}

.annotorious-editor, .annotorious-popup {
  /* needs to be visible on top of resizalbe handle! */
  z-index: 93!important;
}

/* for text box completely visible on the right, very hacky :( */
.ui-wrapper {
  padding-right:230px;
}
.ui-resizable-e {
  right:225px;
}
.ui-resizable-s {
  left: -230px;
}
.ui-resizable-se {
  right: 231px;
}
/* until here for text box visible on the right*/
