#imageUrlText {
  width: 30em;
}

#imageDiv {
  margin-top:10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 90px; /* for popup to be visible when popup opened on bottom of image*/
}
.annotationTextDiv {
  position: absolute;
  top: 365px;
  left: 227px;
  font-weight: bold;
  background-color: #eeecb3;
  padding: 5px;
  margin-top: 2px;
  max-width: 180px;
  border-radius: 3px;
  font-size: 14px;
  /* wrap text even if no spaces */
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

/* second canvas needs to be on top of text divs...*/
canvas.annotorious-opacity-fade ~ canvas.annotorious-opacity-fade {
  z-index:1!important;
}

.ui-resizable-handle {
  background-color: #eeecb3;
}

.annotorious-editor {
  /* needs to be visible on top of resizalbe handle! */
  z-index: 92!important
}

.ui-wrapper {
  /* make this so that text box is completely visible on the right...*/
  margin-right: 350px;
}