body {
  overflow-x: scroll;
}

#googleDocUrlText {
  display:none; /* just for the start until doc has been loaded from wave or not */
  font-size: 20px;
  padding: 15px;
  text-align: center;
  width: 25em;
  margin-left: 10px;
}


#googleDocDiv {
  height: 450px;
}

#googleDocDiv.ui-resizable {
  margin-bottom: 25px;
}

#googleDocIFrame {
  height: 100%;
  width: 100%;
  display:none;
}

.ui-resizable-handle {
  background-color: #64a8eb;
  box-shadow: 3px 3px 3px #76A8D9;
}

.viewMode #googleDocIFrame {
  pointer-events: none;
}

/* in edit mode google doc shoudl be in resizable div */
.editMode #googleDocIFrame {
  pointer-events: auto;
}

/* for proper resizing ignore mousein/mouseout into iframe on reisze */

.editMode .resizing #googleDocIFrame {
  pointer-events: none;
}


