/*Icons font from icomoon.io*/
@font-face {
    font-family: 'List';
	src:url('fonts/List.eot');
}
@font-face {
	font-family: 'List';
	src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRk9UVE8AAAgEAAsAAAAADJAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAABCAAABNsAAAfFjkUUn0ZGVE0AAAXkAAAAGgAAABxnTnj6R0RFRgAABgAAAAAdAAAAIAA7AARPUy8yAAAGIAAAAEsAAABgL9zcQGNtYXAAAAZsAAAAPQAAAVLgKfLMaGVhZAAABqwAAAAuAAAANvwwFudoaGVhAAAG3AAAAB4AAAAkBBD/72htdHgAAAb8AAAAGQAAADgaAADwbWF4cAAABxgAAAAGAAAABgAOUABuYW1lAAAHIAAAANYAAAFf5wfPFnBvc3QAAAf4AAAADAAAACAAAwAAeJxtVGFsVEUQnm3f651tvUJzR0RqK7GS4gFWKJX6o5FyVAsiWI6kCqKSQsQWQsIDFWiNUovyQLGcxgBBJASRq4SQpiHmbAgmNbZiQIoENYoR/NGTAs2ZffRdGWd2r5fGNC83Mzuz8803s5MTYBgghDCfWbvRApEBAiqdkgxnaqZzn2HnZtq5RmE2TFyaj7adNnI99mvOx45lFsCVvAKAcQWQGF8A3gLPN/mQxxheyIMJ8AAUQxBmQgU8CU/Bs7AMVsDLUL9p/dr5paWlWj2m1UytZmlVptVsrcq1elyrOVpVaDVXqypS1YTJXahOAMQO8Z54X+wUttgldosPxIdij/hItIm94GOKGdCT2W5MMI4bZ4zLxl/GgGmYk7I2ZH2W9aXPaZEdAQTvzwaCZ2oS0SEL5dRkUdCjdMoz4i50Q24oa8xIcLRbgTFskaQEz5iRuGdU4bS7UIYkVRgrEs8akynh+1C44RhCKPoudSPavYh3l54ma/Y7ZOV0I0D3McTheCtCRlEz4tDiPyjwPcHcqbuE6K7zKUF5nYdaWFSZ7GhLhe7U9dH1nkpOPMgQ21JgCvZurpdLvc1FLS5/D+Hg3c0UFjSU+q98CPuXztIW1refI2zEZhZNaasrLZoYp5NEuILJt3Llt7geEcOKOs0Bh6/S8c7zdVz5LNFsPIdgtA2qDqoQal5qUh3kKa/uFbK+CDL5LgTz5GQm309H/1ZNHkSigkS0mztYQFGoYrE9LeamRYuXGypjYXFDP5BVe4t7Ps09P20y+SdGHoLIE3aXJk/1tjD57czhQa78LfE62s80b6c6IPJdLM6YmjyJk3zpGF0vNzjxCENUMdg2ht2nyVOpZi5ao8p7FZUUqf21g6OIKt7qcTRbytk10npim14bRZRGtIbrrdJvrjioPdBDddctUWybeeitiu0tvTGKqF4b9VBDi69qovSMIU1U7SW9tKOeO7Uxii3tSVua7XplmT4ZlmWBaK+0pBVtcC3XonITc0JB2vcpiVgvhcN20A3T1xeMyz4+x20+L0S8kkM1f9xIO/X6vkOUN/nFDYi3Hr0fYbyxHHHAPYqQd/464u+Hz3t9TsixAog3hkttxJuv9BB7XsLBz2mX/01s8TY0SMM1olECyqYA3LtyiGaUoGmNO7jZRsjP2ENy2oxfEH+b8SnCQxemIF688KrtTRYnjYCM0UcAboy+4gYTxWraTbGg3KCi1xppoJP2OtygMpSLuo9EAzLi+N0yatIKSosM9jpl5E4qt7Qooty95E36Hfo8PtlhuH4nIsmk2QUIIWLLMteKSytOhulzwuROajf53JRb9qH4pCNG013RuoZIbDqLMO9Ner/ji/poLPt2nKAXa6n5GnF/Z3VKqGNLTZKPtKb1dIStndWFNI3Vb9Ry/q8Iy05NY8yHqbudlYQRMw/T3+ON64fpH23iBBr4CysRE6dOIt4+MJASf353IiVuLq9HvHzhH6JwaV5YS5r7kQPKi1A4p1bfJOu5lFUy/aJOhEdiA/aILJn+k05UOf8XKlAyw6+ut3u1YpSjys3IjalqzBB8q85r6pCzaIluBzx/93vp/2b3/GsBN9IrI/QYxTIR6LVdv+uX9FtoszZlQvoDfHaVT6oY+X22YxnJiEOJTsRvB+zc7P8AX0kdqQB4nGNgYGBkAIIztovOg+izHdmiMBoAR+UGJgAAeJxjYGRgYOADYgkGEGBiYARCXiBmAfMYAATZAEAAAAB4nGNgZmJgnMDAysDB6MOYxsDA4A6lvzJIMrQwMDAxsDIzwIEAgskQkOaawuDwgOEDA+OD/w8Y9BgfMCg0MDAwwhUoACEjABBCDB8AeJxjYGBgZoBgGQZGBhDwAfIYwXwWBgMgzQGETCCJB9wfGP7/B7MYICwFRgFeqC4wYGRjQOaOSAAA4a4IxAAAAHicY2BkYGAAYq/3b3vi+W2+MnAzMYDA2Y5sUQT9/wETA+MDIJeDASwNAD3tCtcAAHicY2BkYGB88P8Bgx4TAwPDPwYgCRRBAXwAbfIEAQAAeJxjYmBgYMKNHZBoEFYAYgGgEAMAEqgBCwAAAAAAUAAADgAAeJxdjj2OwjAQRl8gsLC7go523VElSgIFoqCkoqJIT2FFkVAiOXAG6m32GHsAag7GZzANtsbzZvzND/DNHxH+RMR8Bu7xwU/gvqgKHOv+Bh7wxX/gofI3KaN4rMzoUeW5x4Rp4D4b5oFjaS6BB8y0w5OHyl/ZUdNxgl3d6d1jtcCZIwecQludjwfBlpZGMu+dFBZDQUomv5a92jyjFQlLWaH/nIXK2+a0bV1lTZFmZm38MLlVskyKLJfgbY1SA5wS9WOsURM/itK6rm4bk6fZe8kd8FctsgAAeJxjYGbACwAAfQAE) format('woff'),
		 url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAANAIAAAwBQRkZUTWdOePoAAAigAAAAHEdERUYAPQAGAAAIgAAAACBPUy8yL7rcHwAAAVgAAABWY21hcOAr89MAAAHwAAABUmdhc3D//wADAAAIeAAAAAhnbHlmdZ2StQAAA2gAAAMEaGVhZPwwFucAAADcAAAANmhoZWEEEP/xAAABFAAAACRobXR4GqoA8QAAAbAAAABAbG9jYQaiBd4AAANEAAAAIm1heHAAVQAvAAABOAAAACBuYW1l5wfPFgAABmwAAAFfcG9zdBVj65MAAAfMAAAAqgABAAAAAQAAme/5NV8PPPUACwIAAAAAAM2IaxUAAAAAzYhrFQAA/+ACAAHgAAAACAACAAAAAAAAAAEAAAHg/+AALgIAAAD+AAIAAAEAAAAAAAAAAAAAAAAAAAAQAAEAAAAQACwAAwAAAAAAAgAAAAEAAQAAAEAAAAAAAAAAAQIAAZAABQAIAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAIABQMAAAAAAAAAAAAAEAAAAAAAAAAAAAAAUGZFZABA4ADwAAHg/+AALgHgACCAAAABAAAAAAAAAgAAAAAAAAAAqgAAAgAAAAIAAAECAAAAAgAAAAIAAAACAAAAAgAAQAIAAAACAABAAgAAQAIAACACAAAQAAAAAAAAAAMAAAADAAAAHAABAAAAAABMAAMAAQAAABwABAAwAAAACAAIAAIAAAAA4AvwAP//AAAAAOAA8AD//wAAIAMQDwABAAAAAAAAAAAAAAEGAAABAAAAAAAAAAECAAAAAgAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyAHwAogDKANwA7gD8AQoBGgEsAVoBdAGCAAAAAQAA/+ACAAHgACMAAAEjNTQmKwEiBh0BIyIGHQEUFjsBFRQWOwEyNj0BMzI2PQE0JgHwsAkHYAcJsAcJCQewCQdgBwmwBwkJASCwBwkJB7AJB2AHCbAHCQkHsAkHYAcJAAAAAAEAAf/hAf8B3wArAAAlJzc2NzYvASYHBg8BJyYnJg8BBhcWHwEHBgcGHwEWNzY/ARcWFxY/ATYnJgH7m5sDAQQISQcKAwObmwMDCgdJCAQBA5ubAwEECEkHCgMDm5sDAwoHSQgEAUWbmwMDCgdJCAQBA5ubAwEECEkHCgMDm5sDAwoHSQgEAQObmwMBBAhJBwoDAAACAAD/4AIAAeAABAATAAA/AicPAS4BJz8CIwcDJTc1DwHAQOAg4E8MHhkyQMBgwGABQMDAJ6Ag4CDgshkeDIgnwMD+wGDAYMBAAAAAAwAA/+ACAAHgAAkADgASAAABMhYVFA8BJzc2AQc3AScXByc3AbAhLxAgcCAV/osgkAEocB7gHOAB4C8hGxUgcCAQ/pCQIAEocG7gHOAAAAABAAAAIAIAAaAABQAAJQEzFzczAQD/AKBgYKAgAYDg4AAAAAABAAAAIAIAAaAABQAACQEzNxczAQD/AKBgYKABoP6A4OAAAAABAEAAIAHAAaAAAwAAEyERIUABgP6AAaD+gAAAAQAAAKACAAEgAAMAABEhFSECAP4AASCAAAAAAAEAQP/gAcAB4AAFAAA3ARUHFxVAAYDg4OABAKBgYKAAAQBA/+ABwAHgAAUAACUBFRcHFQHA/oDg4OABAKBgYKAAAAAAAgAg/+AB4AHgABcAGwAAARUWFxYUBiImNDc2NzUOARUUFjI2NTQmJzMRIwFAHBUvXoReLxUcRlqDuoNapkBAAZdEDBYvhF5ehC8WDEQVd0tdg4NdS3de/wAAAAACABAAYAHwAWAABQALAAATBxczJzczIxcHMzeQgIBAgICgQICAQIABYICAgICAgIAAAAAAAQAA/+ACAAHgAAIAABEBIQIA/gAB4P4AAAAAAAAADACWAAEAAAAAAAEABAAKAAEAAAAAAAIABwAfAAEAAAAAAAMAHwBnAAEAAAAAAAQABACRAAEAAAAAAAUACwCuAAEAAAAAAAYABADEAAMAAQQJAAEACAAAAAMAAQQJAAIADgAPAAMAAQQJAAMAPgAnAAMAAQQJAAQACACHAAMAAQQJAAUAFgCWAAMAAQQJAAYACAC6AEwAaQBzAHQAAExpc3QAAFIAZQBnAHUAbABhAHIAAFJlZ3VsYXIAAEYAbwBuAHQARgBvAHIAZwBlACAAMgAuADAAIAA6ACAATABpAHMAdAAgADoAIAA4AC0ANAAtADIAMAAxADMAAEZvbnRGb3JnZSAyLjAgOiBMaXN0IDogOC00LTIwMTMAAEwAaQBzAHQAAExpc3QAAFYAZQByAHMAaQBvAG4AIAAxAC4AMAAAVmVyc2lvbiAxLjAAAEwAaQBzAHQAAExpc3QAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAABAAIBAgEDAQQBBQEGAQcBCAEJAQoBCwEMAQ0BDgd1bmlFMDAwB3VuaUUwMDEHdW5pRTAwMgd1bmlFMDAzB3VuaUUwMDQHdW5pRTAwNQd1bmlFMDA2B3VuaUUwMDcHdW5pRTAwOAd1bmlFMDA5B3VuaUUwMEEHdW5pRTAwQgd1bmlGMDAwAAAAAAAB//8AAgABAAAADgAAABgAAAAAAAIAAQADAA8AAQAEAAAAAgAAAAAAAQAAAADMPaLPAAAAAM2IaxUAAAAAzYhrFQ==) format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'List';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-plus, .icon-plus1, .icon-close, .icon-close1, .icon-pencil, .icon-pencil-2, .icon-arrow-down, .icon-arrow-up, .icon-stop, .icon-minus, .icon-arrow-left, .icon-arrow-right, .icon-switch, .icon-embed {
	font-family: 'List';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-plus:before {
    content: "\e000";
    margin:6px;
}

.icon-plus1:before {
    content: "\e000";
    margin-left:10px;
}

.icon-close:before {
    content: "\e001";
    font-size:12px;
    margin:7px;
    margin-right: 15px;
}
.icon-close1:before {
    content: "\e001";
    font-size:9px;
    margin:5px;
    margin-right: 15px;
}
.icon-pencil:before {
	content: "\e002";
}
.icon-pencil-2:before {
	content: "\e003";
}
.icon-arrow-down:before {
	content: "\e004";
    font-size:9px;
    margin-left:12px;
}
.icon-arrow-up:before {
	content: "\e005";
    font-size:9px;
    margin-left:12px;
}
.icon-stop:before {
	content: "\e006";
    font-size:9px;
    margin-left:12px;
}
.icon-minus:before {
	content: "\e007";
    font-size:9px;
    margin-left:12px;
}
.icon-arrow-left:before {
	content: "\e008";
    font-size:9px;
    margin-left:12px;
}
.icon-arrow-right:before {
	content: "\e009";
    font-size:9px;
    margin-left:12px;
}
.icon-switch:before {
	content: "\e00a";
    font-size:9px;
    margin-left:12px;
}
.icon-embed:before {
	content: "\e00b";
    font-size:9px;
    margin-left:12px;
}
